# Handle Jupyter notebooks with nbstripout to remove output and metadata
*.ipynb filter=nbstripout
*.zpln filter=nbstripout
*.ipynb diff=ipynb

* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf